.full-height {
  height: 100vh;
  object-fit: cover;
}

.container-fluid {
  padding: 0;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}


.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(113, 113, 255, 0.411); /* Blue overlay with 50% opacity */
  pointer-events: none; /* Ensures the overlay does not interfere with interactions */
}


.error-message {
  color: red;
  font-size: 13px;
}
